<!DOCTYPE html>
<html lang="en" ng-app="footApp">
<head>
  <title></title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=0.6, user-scalable=no, minimal-ui">
  <!-- not working on ios 8.1.3 http://stackoverflow.com/questions/25972362/why-html5-video-doesnt-play-in-ios-8-webappwebview -->
  <!-- <meta name="apple-mobile-web-app-capable" content="yes"> -->
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="./dist/audio.min.js"></script>
  <script src="./dist/angular.min.js"></script>
  <script src="./dist/ngStorage.min.js"></script>
  <!-- for chrome prior M39 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link href="./index.css" rel="stylesheet">
</head>
<body>
  <div id="wrapper" ng-controller="footCtrl">
    <h1>풋토</h1>
    <audio></audio>
    <ol>
      <li ng-repeat="program in programs" ng-click="onClickList(program)" ng-class="{'playing': selected === program}">
        <a href="#" data-src="{{program.url | trusted}}">{{program.radioListTitle}}</a>
        <small ng-switch on="program.status">
          <div ng-switch-when="4">{{program.datetimeObj | date:'yyyy.MM.dd'}}</div>
          <div ng-switch-when="2">(방송 중)</div>
          <div ng-switch-when="1">{{program.datetimeObj | date:'yyyy.MM.dd'}} (방송예정)</div>
        </small>
        <span class="progress" ng-style="{'width':program.progress}"/>
      </li>
    </ol>
    <div ng-show=isError>
      <div class="foot-error-message">엌 에러가...</div>
      <a href="#" class="foot-error-retry" ng-click="onClickRetry()">다시시도</a>
    </div>
  </div>
  <script src="./dist/index.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
         })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59722983-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
